.themeBtn {
    width: 2rem;
    border-radius: 50%;
    padding: 15px;
}

#blue{
    background-color: #0202a9f5;
}

#green{
    background-color: #026502;
}

#black{
    background-color: black;
}

#violet{
    background-color: #7e007e;
}

.dropdown-menu{
    overflow: hidden;
}